################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Graphical Ping/bin
/Graphical Ping/obj
